# Titanic Dataset ‚Äì Task 1: Understanding Dataset & Data Types


## 1Ô∏è‚É£ Dataset Loading & Structure

- Dataset contains **891 rows and 12 columns**
- Each row represents a **passenger**
- Loaded using `pandas.read_csv()`
- First and last few records were inspected to understand structure

### Key Columns
PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked

In [1]:

import pandas as pd
df = pd.read_csv("Titanic-Dataset.csv")
df.head(), df.tail()

(   PassengerId  Survived  Pclass  \
 0            1         0       3
 1            2         1       1
 2            3         1       3
 3            4         1       1
 4            5         0       3

                                                 Name     Sex   Age  SibSp  \
 0                            Braund, Mr. Owen Harris    male  22.0      1
 1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
 2                             Heikkinen, Miss. Laina  female  26.0      0
 3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
 4                           Allen, Mr. William Henry    male  35.0      0

    Parch            Ticket     Fare Cabin Embarked
 0      0         A/5 21171   7.2500   NaN        S
 1      0          PC 17599  71.2833   C85        C
 2      0  STON/O2. 3101282   7.9250   NaN        S
 3      0            113803  53.1000  C123        S
 4      0            373450   8.0500   NaN        S  ,
      PassengerId  Survived  Pclass                                      Name  \
 886          887         0       2                     Montvila, Rev. Juozas
 887          888         1       1              Graham, Miss. Margaret Edith
 888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
 889          890         1       1                     Behr, Mr. Karl Howell
 890          891         0       3                       Dooley, Mr. Patrick

         Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
 886    male  27.0      0      0      211536  13.00   NaN        S
 887  female  19.0      0      0      112053  30.00   B42        S
 888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
 889    male  26.0      0      0      111369  30.00  C148        C
 890    male  32.0      0      0      370376   7.75   NaN        Q  )


## 2Ô∏è‚É£ Data Types Identification

### üî¢ Numerical Features
- PassengerId  
- Age  
- Fare  
- SibSp  
- Parch  

### üè∑ Categorical Features
- Sex  
- Ticket  
- Cabin  
- Embarked  
- Name  

### üîò Binary Feature
- Survived (0 = Not Survived, 1 = Survived)

### üìä Ordinal Feature
- Pclass (1st, 2nd, 3rd class ‚Äì ordered categories)


## 3Ô∏è‚É£ Data Info & Statistics

In [2]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB


### df.info() Observations
- Age has missing values (**177 nulls**)
- Cabin has heavy missing values (**687 nulls**)
- Embarked has **2 missing values**
- Dataset size: **83.7 KB** (small but ideal for ML learning)

In [3]:

df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN


### df.describe() Insights
- Mean age ‚âà **29.7 years**
- Fare is highly **right-skewed** (max = 512)
- Survival rate ‚âà **38.4%**


## 4Ô∏è‚É£ Categorical Distribution

- **Sex:** Male dominant (~65%)

### Embarked
- S (Southampton) ‚Äì majority  
- C (Cherbourg)  
- Q (Queenstown)


## 5Ô∏è‚É£ Target Variable & Features

### üéØ Target Variable
- **Survived**

### üì• Input Features
Pclass, Sex, Age, SibSp, Parch, Fare, Embarked

These features are suitable for **classification models**.


## 6Ô∏è‚É£ Dataset Suitability for Machine Learning

### ‚úÖ Suitable for ML because:
- Clear target variable
- Mix of numerical & categorical features
- Manageable size for experimentation
- Real-world data quality issues present

### ‚ö† Requires preprocessing:
- Missing value handling (Age, Cabin)
- Encoding categorical variables
- Feature scaling (Fare)